@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-play: "Playwrite IN", sans-serif;
  --color-dark: #242424;
}

@layer base {
  body {
    @apply bg-dark text-white min-h-screen;
  }
  button {
    @apply cursor-pointer transition duration-300 hover:brightness-75;
  }
}

@layer components {
  .wrapper {
    @apply h-screen w-full grid place-items-center;
  }
  .box {
    @apply bg-white text-dark p-12.5 rounded-[10px] w-[80vh] max-w-112.5;
  }
  .btn {
    @apply py-2 px-4 rounded-md shadow-lg border border-gray-300 hover:bg-gray-100/10;
  }
  .message {
    @apply p-[2px_6px] max-w-[90%] w-fit wrap-break-word;
  }
}
